@import url('bootstrap');


:root {
  --dc-dark-grey: #1c1c1c;
  --dc-grey: #303030;
  --dc-light-grey: #8B8B77;
  --dc-light: #fff;
  --dc-primary: #0282F9;
}

body {
  font-family: 'Open Sans Variable', sans-serif;
}

.onFocus {
  border-bottom: 8px solid var(--dc-primary);
}

a {
  text-decoration: none;
  color: inherit;
}


header {
  background-color: var(--dc-light);
  font-weight: 700;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

.top_jumbotron {
  height: 480px;
  background-image: url('/jumbotron.jpg');
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
}

main {
  background-color: var(--dc-dark-grey);
  color: var(--dc-light);

  .comic_card_deck {

    .comic_card_body {

      max-width: 280px;
      height: 280px;
      padding-top: 4rem;
      margin: 0 auto;

      .comic_card_img {
        object-fit: cover;
        padding-bottom: 1.5rem;
        max-width: 100%;
        max-height: 100%;
        object-position: top center;
      }


      
    }

  }

  .more_comics {

    text-align: center;

    .more_comics_btn {
      background-color: var(--dc-primary);
      color: var(--dc-light);
      padding: 0.8rem 5rem;
      margin-bottom: 1.8rem;
      text-transform: uppercase;
      outline: none;
      border-style: none;
      font-weight: 600;
    }
  }

}


.hero {
  background-color: var(--dc-primary);
  color: var(--dc-light);
  font-size: 0.8rem;



  img {
    max-height: 45px;
    max-width: 45px;
  }

  span {
    padding: 0.8rem;

  }
}


footer {
  background-color: var(--dc-grey);
  color: var(--dc-light-grey);

  .bg-comics {
    background-image: url('/footer-bg.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

  }

  .topFooterContainer {

    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-image: url('/dc-logo-bg.png');
    background-position: right center;
    background-repeat: no-repeat, no-repeat;

    nav {
      padding: 2rem;
      display: flex;
      gap: 1.5rem;

      h4 {
        color: var(--dc-light);
      }

      div {
        text-wrap: none;
      }
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    img {
      height: 130%;
      aspect-ratio: 1;
      overflow: hidden
    }

  }

  .bottomFooterContainer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div.followUs {
      display: flex;
      align-items: center;
      gap: 1.2rem;

      span {
        color: var(--dc-primary);
        font-weight: 700;
      }

      div>a {
        padding: 0.5rem;
      }

    }
  }

  button {
    background-color: transparent;
    border: 2px solid var(--dc-primary);
    color: var(--dc-light);
    font-size: 0.8rem;
    font-weight: 600;
    padding: 1rem;

  }
}