@import url('bootstrap');


:root {
  --dc-light: #fff;
  --dc-dark-grey: #1c1c1c;
  --dc-grey: #303030;
  --dc-primary: #0282F9;
}

.onFocus{
  border-bottom: 8px solid var(--dc-primary);
}

a {
  text-decoration: none;
  color: inherit;
}


header{
  background-color: var(--dc-light);
  font-weight: 700;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}


main {
  background-color: var(--dc-dark-grey);
  color: var(--dc-light);
}